/* basics */

body {
    font-family: 'Raleway', serif;
    color: black;
    margin: 0 !important;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

main {
    margin: auto 5%;
}

input {
    font-family: 'Raleway', serif;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 0 1%;
}

button {
    font-family: 'Raleway', serif;
    color: black;
    border-radius: 100px;
    border: 3px solid #F2F2F2;
    background-color: white;
    padding: 0;
    height: 50px;
}

button:focus {
   background-color: #F2F2F2;
   color: #0065FC;
   background-position:left bottom;
}

h2 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* link styling */

a:link {
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:active {
    color: #0065FC;
}

a:hover {
    text-decoration: none;
    color:  #DEEBFF;
}


/* body css */

/* 1/ Header section */

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5%;
    flex-wrap: wrap;
}

#responsive-register {
    display: none;
}

.header-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
}

.header-element:after {
    content: '';
    width: 0%;
    height: 3px;
    background: #0065FC;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.5s ease-out;
}

.header-element:hover:after {
    width: 100%;
}

.header-element {
    padding: 0 10px;
    position: relative;
}


#h-inscription {
    color: #0065FC;
    font-weight: bold;
}

/* 2 / Hebergements Section */

#localisation {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

#search-icon {
    background-color: #F2F2F2;
    height: inherit;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1px;
}

#search {
    border: solid #F2F2F2;
    border-width: 1px 0;
    height: inherit;
}

#rechercher {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    height: inherit;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    padding: 1px 1%;
}

#text-rechercher {
    color: white;
}

#image-rechercher {
    display: none;
}

#filters {
    display: flex;
    margin: 5% 0 2%;
    flex-wrap: wrap;
}

.btn-icon {
    border: none;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -3px;
}

.svg-filter {
    width: 20px;
}

.filter {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(to left, white 50%, #DEEBFF 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    margin-left:10px;
    transition:all 1s ease;
}

.btn-text {
    margin: 0 10px;
    white-space: nowrap;
}

#info-h {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.info-bulle {
    border-radius: 100px;
    height: 20px;
    width: 20px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloc-hebergements {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.bloc-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;
}

#hebergements-list {
    width: 66%;
    margin-right: 2%;
    border-radius: 20px;
    background-color:  #F2F2F2;
}

.grow {
    transition: all .2s ease-in-out;
    transform: scale(1);
}
.grow:hover { transform: scale(1.1); }

#afficher-plus {
    margin-left: 5%;
}

#hb-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hb-block {
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    width: 27.5%;
    line-height: 5%;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 2%;
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.6);
}

.hb-image {
    object-fit: cover;
    width: auto;
    height: 50%;
}

.hb-desc {
    margin-left: 5%;
}

.hb-desc p {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    line-height: 1em;
}

.hb-desc-text {
    line-height: 1em;
    font-size: small;
}

.ratings {
    margin-bottom: 2%;
    color: #DEEBFF;
}

.r-active {
    color: #0065FC;
}

#popular {
    width: 33%;
    margin-left: 2%;
    border-radius: 20px;
    background-color:  #F2F2F2;
}

#popular-icon {
    width: 40px;
}

#pop-list {
    display: flex;
    flex-direction: column;
}

.pop-block {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    overflow: hidden;
    height: 120px;
    line-height: 5%;
    margin: 5%;
}

.pop-image{
    width: 40%;
    height: auto;
    object-fit: cover;
}

.shadow {
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.6);
}

/* 3 / Activites Section */

#activites-block-section {
    display: flex;
}

.activites-block {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 400px;
    object-fit: cover;
    margin: 0 3% 40px 0;
    border-radius: 20px;
    overflow: hidden;
}

.activites-block-column {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-right: 3%;
}

.activites-block-small {
    height: 180px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 20px;
}

.activites-block-small .activites-image {
    height: 70%;
    object-fit: cover;
}

.activites-block .activites-image {
    height: calc(100% - 55px);
    object-fit: cover;
}

.activites-desc {
    margin: 5%;
    font-weight: bold;
}


/* 4 / Footer Section */

footer {
    background-color:  #F2F2F2;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-link {
    margin-bottom: 0.75em;
}

/* RESPONSIVE */

@media (max-width: 480px) {

    header {
        margin: 5%;
    }

    #h-inscription {
        display: none;
    }

    #responsive-register {
        display: block;
    }

    #responsive-register a {
        color: #0065FC;
        font-weight: bold;
    }

    .header-elements {
        width: 100%;
        text-align: center;
        line-height: 50px;
    }

    .header-element {
        width: 50%;
    }

    .header-element:after {
        bottom: 0;
        top: auto;
    }

    main {
        margin: 0;
    }

    #header-hb {
        margin: auto 5%;
    }

    #filters h2 {
        width: 100%;
    }

    #search-icon {
        text-align: center;
    }

    #search-icon i {
        width: 50px;
    }

    #text-rechercher {
        display: none;
    }

    #search {
        width: 80%;
        padding-left: 3%;
    }

    #rechercher {
        border-radius: 15px;
        position: relative;
        left: -10px;
    }

    #image-rechercher {
        width: 50px;
        display: block;
        color: white;
    }

    #bloc-hebergements  {
        flex-direction: column-reverse;
    }

    #hebergements-list {
        width: 100%;
        background-color: white;
    }

    #hb-list {
        flex-direction: row;
    }

    .hb-block {
        width: 100%;
        margin: 5%;
    }

    #popular {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    #activites-block-section {
        flex-direction: column;
    }

    #activites {
        margin: 5%;
    }

    .activites-block {
        width: 100%;
        height: 160px;
    }

    .activites-block .activites-image {
        height: 70%;
        width: 100%;
    }

    .activites-block-column {
        width: 100%;
        max-height: 400px;
    }

    .activites-block-small {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        margin: 0 3% 40px 0;
        border-radius: 20px;
        overflow: hidden;
    }

    footer {
        flex-direction: column;
    }
  }